# User-specific stuff:
**/*/.idea/
**/*/*/.idea/
#.idea/workspace.xml
#.idea/tasks.xml
#.idea/dictionaries
#.idea/shelf

workspace.xml

#Visual Studio files
*.suo
src/alglib/alglib/obj
src/alglib/alglib/bin

#grunt
src/server/front-end/.tmp
src/server/front-end/node_modules
src/server/front-end/bower_components
